# ==================================================
# Environnements Python
# ==================================================

.venv/
venv/

# ==================================================
# Cache Python
# ==================================================

__pycache__/
*.pyc

# ==================================================
# Streamlit
# ==================================================

.streamlit/

# ==================================================
# VS Code
# ==================================================

.vscode/

# ==================================================
# Jupyter
# ==================================================

.ipynb_checkpoints/

# ==================================================
# Dataset (géré par DVC)
# ==================================================

dataset/

# ==================================================
# YOLO
# ==================================================

runs/
predictions/

# ==================================================
# Modèles locaux
# ==================================================

models/*.pt
current-model/
best.pt
metrics.json
all_runs_metrics.csv

# ==================================================
# Fichiers générés
# ==================================================

dataset.yaml

# ==================================================
# MLflow local (au cas où)
# ==================================================

mlruns/

# ==================================================
# Variables d'environnement
# ==================================================

.env

# ==================================================
# Fichiers temporaires
# ==================================================

*.tmp

# ==================================================
# OS
# ==================================================

.DS_Store
Thumbs.db