# Environnement Python
.venv/
venv/

# Cache Python
__pycache__/
*.pyc

# Streamlit
.streamlit/

# Modèles lourds
models/*.pt

# Fichiers temporaires
*.tmp

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
/dataset
