ultralytics
opencv-python
pillow
numpy
pandas
streamlit
mlflow
psycopg2-binary
ultralytics
dvc 
dvc-azure

fastapi
uvicorn[standard]
python-multipart

opencv-python
pillow
streamlit-autorefresh
pydantic